---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { ABOUT } from "@consts";
import Link from "@components/Link.astro";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <h2 class="font-extrabold">{ABOUT.TITLE}</h2>
    <div class="space-y-16 pt-8">
      <section>
        <div class="space-y-4">
          <p>
            I was born and raised in <Link
              href="https://en.wikipedia.org/wiki/Mesagne"
              aria-label="Mesagne on Wikipedia"
              external
            >
              Mesagne
            </Link>, a nice sunny city in the <a
              href="https://en.wikipedia.org/wiki/Terra_di_Otranto"
              target="_blank"
              rel="noreferrer">Heel of Italy</a
            >, and I am currently living in Rome.
          </p>
          <p>
            I am a Technology professional with extensive experience in Software
            Engineering, Leadership and Business Agility.
          </p>
          <p>
            Like many others in the 90s, I discovered computers as a teenager.<br
            />
            During my university years, I developed a strong interest in computer
            networks, GNU/Linux, and content management systems.<br />I became a
            regular user of distributions such as Debian, Ubuntu, and later Arch
            Linux, and I built my first freelance websites using WordPress,
            Drupal, and Joomla.
          </p>
          <p>
            Over the years, I have held several roles including Senior
            Engineering Manager, Software Engineer, Technical Leader, and Scrum
            Master.
          </p>
          <p>
            I built this portfolio website not only to collect my online
            references but also to challenge myself by trying new Open Source
            libraries and tools for Software Development.
          </p>
        </div>
      </section>
    </div></Container
  >
</PageLayout>
