---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { CV } from "@consts";
---

<PageLayout title={CV.TITLE} description={CV.DESCRIPTION} robots="noindex">
  <Container>
    <section class="flex items-center justify-center pt-24">
      <!-- <div class="text-lg"> -->
      <div class="text-lg space-y-8">
        <!-- <- add space-y here -->
        <div>
          If you have landed on this page, it is very likely that you clicked on
          the link in my CV. <br />
          So first of all, welcome and thank you for taking a closer look at my profile!
        </div>
        <div>
          This is my personal website, where you will find some information
          about<span class="text-amber-700 dark:text-amber-600 font-extrabold"
            ><Link href="about">me</Link></span
          >, my professional
          <span class="text-amber-700 dark:text-amber-600 font-extrabold"
            ><Link href="skills">skills</Link></span
          >
          , as well as some{" "}
          <span class="text-amber-700 dark:text-amber-600 font-extrabold"
            ><Link href="testimonials">testimonials</Link></span
          >
          from colleagues I worked with.
        </div>
        <div>
          If you&apos;ve read this far, then I&apos;d like to remind you that if
          you want to learn more about my professional profile, here you can
          find my <span
            class="text-amber-700 dark:text-amber-600 font-extrabold"
            ><Link
              href="https://www.linkedin.com/in/giorgiodellegrottaglie/"
              external
              aria-label="Linkedin">LinkedIn</Link
            ></span
          > and <span class="text-amber-700 dark:text-amber-600 font-extrabold"
            ><Link
              href="https://github.com/giorgiodg/"
              external
              aria-label="github">GitHub</Link
            ></span
          >.
        </div>
      </div>
    </section>
  </Container>
</PageLayout>
