---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { SKILLS, SKILLS_LIST } from "@consts";
---

<PageLayout title={SKILLS.TITLE} description={SKILLS.DESCRIPTION}>
  <Container>
    <h2 class="font-extrabold pt-16">{SKILLS.TITLE}</h2>
    <div class="space-y-16 pt-8">
      <section>
        <ul class="list-none p-0 m-0 flex flex-wrap gap-x-4 gap-y-4">
          {
            Object.entries(SKILLS_LIST).map(([group, items]) => (
              <li>
                <>
                  <strong>{group}:</strong>
                  <br />
                </>{" "}
                {items.join(", ")}
              </li>
            ))
          }
        </ul>
      </section>
    </div></Container
  >
</PageLayout>
