---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <!-- Logo -->
      <Link href="/">
        <div class="font-bold text-lg md:text-lg">{SITE.NAME}</div>
      </Link>
    </div>
  </Container>
</header>
