---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between text-md md:text-lg">
      <Link href="/" underline={false}>
        <div class="font-bold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/about"> about </Link>
        <span>
          {`/`}
          <Link href="/skills"> skills </Link>
          <span>
            {`/`}
            <Link href="/testimonials"> testimonials </Link>
            <span>
              {`/`}
            </span>
            <Link href="/blog"> blog </Link>
          </span>
        </span>
      </nav>
    </div>
  </Container>
</header>
