---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { SHOWCASE } from "@consts";

const projects = (await getCollection("showcase"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={SHOWCASE.TITLE} description={SHOWCASE.DESCRIPTION}>
  <Container>
    <h2 class="font-extrabold">{SHOWCASE.TITLE}</h2>
    <div class="space-y-8 pt-8">
      <p>
        A collection of talks, interviews, and projects publicly available.<br
        />A small window into a broader range of engineering work carried out
        throughout my career.
      </p>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
